POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=better_auth
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

BETTER_AUTH_SECRET=

NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3001
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=