@import "@repo/ui/output.css";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";
@import "tailwindcss";

@font-face {
  font-family: "Lemon Mocktail";
  src: url("/fonts/lemon_mocktail.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Star Avenue";
  src: url("/fonts/staravenue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-lemon-mocktail: "Lemon Mocktail", sans-serif;
  --font-star-avenue: "Star Avenue", sans-serif;
}
